/*Variables*/
@use "../abstracts/variables" as *;

/*Components*/
@use "../components/mixins" as *;

.wrapper_home {
    background-image: url("../../../public/unibq.jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    .title_container{
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h1.title{
            color:$primary-color;
            background-color: transparent;
            text-align: center;
            grid-column: 1/3;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-left: 20px;

            .sub_title1{
                color: $white-color;
            }
            .sub_title2{
                color: $white-color;
            }
            .sub_title3{
                color: $primary-color;
            }
            
        }
    }

    .btn_container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        button.btn_login{
            @include button-style-primary($primary-color,$primary-bright-color);
        }
    
        button.btn_new_account{
            @include button-style-secundary($secundary-color, $secundary-bright-color);
        }
    }

}
