/*Variables*/
@use "../abstracts/variables" as *;

/*Components*/
@use "../components/mixins" as *;

.wrapper_new-user{
    margin-left: 15%;
    background-color: $primary-color;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}