/*HTML tag resets*/
@use "./base/resets";

/*Variables*/
@use "./abstracts/variables" as *;

/*Components*/
@use "./components/mixins" as *;


input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: none;
    transition: .2s;

    &::placeholder {
        font-size: large;
    }

    &:focus {
        border: 2px solid $secundary-color;
    }
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

i.icon {
    max-width: 50px;
    max-height: 50px;
    padding: 10px;
    min-width: 50px;
    text-align: center;
    background-color: $secundary-color;
    border-radius: 5px;
    color: $primary-color;
}